<div class="container-fluid">
  <div class="jumbotron">
    <h4>
      <span>Wer möchte kann gerne einer der Videokonferenzen beitreten.</span>
    </h4>
    <h4>
      <i class="fas fa-video"></i>
      <span>Raum 1: zoom.us/5346534563</span>
    </h4>
    <h4>
      <i class="fas fa-video"></i>
      <span>Raum 2: zoom.us/5346534563</span>
    </h4>

    <p style="text-align: left;">
      <span
        >Weitere Räume, auch auf anderen Webseiten, können gerne an die Trainer geben werden. <br />Wir tragen diese
        dann ein</span
      >
    </p>
  </div>
</div>
