.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.chipSpan {
  display: inline-block;
  background: #ccc;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px;
}
